<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">Cybersecurity is more crucial than ever and maintaining corporate continuity and data security are key components of every enterprise. We assist in providing confidentiality, integrity and availability to your business. Managed Backup and Antivirus Services are just a few of the services included in our solutions.</p>
                <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
